{% extends 'result/base_page.html' %}
{% load static %}
{% block title %}Arizalar Ro'yxati{% endblock %}

{% block content %}
<div class="container mt-4">
    <div>
        <h2 class="mb-3">Arizalar Ro'yxati</h2>
            <!-- Bootstrap Dropdown -->
            <div class="dropdown my-text d-inline-block">
                <button class="btn btn-getstarted fs-5 border dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if request.GET.training == "none" or request.GET.ball_spirituality == "none" %}
                        Yangi kelgan arizalar
                    {% elif request.GET.training == "exists" or request.GET.ball_spirituality == "exists" %}
                        Baholangan arizalar
                    {% else %}
                        Ariza holatini tanlang
                    {% endif %}
                </button>

                <ul class="dropdown-menu my-text" aria-labelledby="dropdownMenuButton">
                    {% if request.user.role == "training" %}
                        <li><a class="dropdown-item my-text" href="?training=none">Yangi kelgan arizalar</a></li>
                        <li><a class="dropdown-item my-text" href="?training=exists">Baholangan arizalar</a></li>
                    {% elif request.user.role == "spirituality" %}
                        <li><a class="dropdown-item my-text" href="?ball_spirituality=none">Yangi kelgan arizalar</a></li>
                        <li><a class="dropdown-item my-text" href="?ball_spirituality=exists">Baholangan arizalar</a></li>
                    {% elif request.user.role == "special" %}
                        <li><a class="dropdown-item my-text" href="#">Yangi kelgan arizalar</a></li>
                        <li><a class="dropdown-item my-text" href="#">Baholangan arizalar</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if request.user.role == "spirituality" %}
                <p class="text-success">Ijtimoiy faollikni aniqlash bo'yicha komissiya</p>
            {% elif request.user.role == "training" %}
                <p class="text-primary">Akademik o'zlashtirish ko'rsatkichini aniqlash bo'yicha komissiya</p>
            {% elif request.user.role == "student" %}
                <p class="text-info">Siz yuborgan arizalaringiz:</p>
            {% elif request.user.role == "special" %}
                <p class="text-warning">Maxsus komissiya</p>
            {% endif %}

    </div>


    <table class="table table-bordered table-hover mt-3">
        <thead class="thead-light">
            <tr class="text-center">
                <th>#</th>
                <th>F.I.Sh</th>
                {% if request.user.role != 'student' %}
                    <th>Ball</th>
                {% endif %}
                <th>Yuborilgan Sana</th>
                <th>Status</th>
                <th>Ko'rish</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for app in applications %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'application:detail' app.pk %}" class="my-text">{{ app.application.student.user.full_name }}</a> 
                    </td>
                    {% if request.user.role == 'training' %}
                        <td class="text-center">{{ app.ball_training.field }}</td>
                    {% elif request.user.role == 'spirituality' %}
                        <td class="text-center">{{ app.ball_spirituality.total }}</td>
                    {% elif request.user.role == 'special' %}
                        <td class="text-center">M: {{ app.ball_spirituality.total }} T: {{ app.ball_training.field }} Umumiy: {{app.total_ball }}</td>
                    {% endif %}
                    <td class="text-center">{{ app.application.created_at|date:"Y-m-d H:i" }}</td>
                    <td class="text-center">
                        {% if app.application.application_status == 'approved' %}
                            <img src="{% static 'icons/check.png' %}" style="width: 20px;" alt="Tasdiqlangan"></img>
                        {% elif app.application.application_status == 'rejected' %}
                            <img src="{% static 'icons/cross.png' %}" style="width: 20px;" alt="Rad etilgan"></img>
                        {% else %}
                            <img src="{% static 'icons/bell.png' %}" style="width: 20px;" alt="Yangi kelgan"></img>
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'application:detail' app.pk %}" class="btn btn-sm my-btn-color">Ko'rish</a> 
                    </td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Hozircha hech qanday ariza yo'q.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
