{% extends 'result/base_page.html' %}
{% load static %}
{% block title %}Arizalar Ro'yxati{% endblock %}

{% block content %}
<div class="container m-4">
    <div>
        <h2 class="h2">Arizalar Ro'yxati</h2>
        <div class="btn-group my-text" role="group" aria-label="Application status filters">
            {% if request.user.role == "training" %}
            <a href="?training=none"
                class="btn"
                style="
                    border: 1px solid #06b6d4;
                    {% if request.GET.training == 'none' %}
                        background-color: #06b6d4;
                        color: white;
                    {% else %}
                        color: #06b6d4;
                    {% endif %}
                ">
                Yangi kelgan arizalar
            </a>

            <a href="?training=exists"
                class="btn"
                style="
                    border: 1px solid #0f766e;
                    {% if request.GET.training == 'exists' %}
                        background-color: #0f766e;
                        color: white;
                    {% else %}
                        color: #0f766e;
                    {% endif %}
                ">
                Baholangan arizalar
            </a>

            {% elif request.user.role == "spirituality" %}
                <a href="?ball_spirituality=none" 
                    class="btn"
                    style="
                        border: 1px solid #06b6d4;  
                        {% if request.GET.ball_spirituality == 'none' %}
                            background-color: #06b6d4;
                            color: white;
                        {% else %}
                            color: #06b6d4;
                        {% endif %}
                    ">
                    Yangi kelgan arizalar
                </a>

                <a href="?ball_spirituality=exists" 
                    class="btn"
                    style="
                        border: 1px solid #10b981;  /* green-500 */
                        {% if request.GET.ball_spirituality == 'exists' %}
                            background-color: #10b981;
                            color: white;
                        {% else %}
                            color: #10b981;
                        {% endif %}
                    ">
                    Baholangan arizalar
                </a>

            {% elif request.user.role == "special" %}
                <a href="?application_status=new" 
                class="btn"
                style="
                    border: 1px solid #3b82f6;  /* blue-500 */
                    {% if request.GET.application_status == 'new' %}
                        background-color: #3b82f6;
                        color: white;
                    {% else %}
                        color: #3b82f6;
                    {% endif %}
                ">
                Yangi kelgan arizalar
                </a>

                <a href="?application_status=approved" 
                class="btn"
                style="
                    border: 1px solid #10b981;  /* green-500 */
                    {% if request.GET.application_status == 'approved' %}
                        background-color: #10b981;
                        color: white;
                    {% else %}
                        color: #10b981;
                    {% endif %}
                ">
                Tasdiqlangan arizalar
                </a>

                <a href="?application_status=rejected" 
                class="btn"
                style="
                    border: 1px solid #ef4444;  /* red-500 */
                    {% if request.GET.application_status == 'rejected' %}
                        background-color: #ef4444;
                        color: white;
                    {% else %}
                        color: #ef4444;
                    {% endif %}
                ">
                Rad etilgan arizalar
                </a>
            {% endif %}
        </div>
        {% if request.user.role == 'student' %}
            <a href="{% url 'application:create' %}" class="btn btn-primary mb-2 mt-2 float-end">
                <i class="bi bi-plus-circle"></i> Ariza yuborish
            </a>
        {% else %}
            <form method="get" action="{% url 'application:export_students_excel' %}">
                <button type="submit" class="btn btn-success mb-2 mt-2 float-end">
                    <i class="bi bi-file-earmark-excel"></i> Arizalarni yuklab olish
                </button>
            </form>
        {% endif %}
        


        <div class="m-2">
            {% if request.user.role == "spirituality" %}
                <p class="text-success">Ijtimoiy faollikni aniqlash bo'yicha komissiya</p>
            {% elif request.user.role == "training" %}
                <p class="text-primary">Akademik o'zlashtirish ko'rsatkichini aniqlash bo'yicha komissiya</p>
            {% elif request.user.role == "student" %}
                <p class="text-info">Siz yuborgan arizalaringiz:</p>
            {% elif request.user.role == "special" %}
                <p class="text-warning">Maxsus komissiya</p>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-hover mt-3 mb-5">
        <thead class="thead-light">
            <tr class="text-center">
                <th>#</th>
                <th>F.I.Sh</th>
                {% if request.user.role != 'student' %}
                    <th>Ball</th>
                {% endif %}
                <th>Yuborilgan Sana</th>
                <th>Status</th>
                <th>Ko'rish</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            {% for app in applications %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'application:detail' app.pk %}" class="my-text">{{ app.application.student.user.full_name }}</a> 
                    </td>
                    {% if request.user.role == 'training' %}
                        <td class="text-center">{{ app.ball_training.field }}</td>
                    {% elif request.user.role == 'spirituality' %}
                        <td class="text-center">{{ app.ball_spirituality.total }}</td>
                    {% elif request.user.role == 'special' %}
                        <td class="text-center">Umumiy bal: {{ app.total_ball }}</td>
                    {% endif %}
                    <td class="text-center">{{ app.application.created_at|date:"Y-m-d H:i" }}</td>
                    <td class="text-center text-primary">
                        {% if app.application.application_status == 'approved' %}
                            <img src="{% static 'icons/check.png' %}" style="width: 20px;" alt="Tasdiqlangan"></img>
                        {% elif app.application.application_status == 'rejected' %}
                            <img src="{% static 'icons/cross.png' %}" style="width: 20px;" alt="Rad etilgan"></img>
                        {% else %}
                            {% if request.user.role == 'student' %}
                                Jarayonda
                            {% else %}
                                <img src="{% static 'icons/bell.png' %}" style="width: 20px;" alt="Yangi kelgan"></img>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'application:detail' app.pk %}" class="btn btn-sm my-btn-color">Ko'rish</a> 
                        {% if request.user.role == 'student' %}
                            <a href="{% url 'application:edit' app.pk %}" class="btn btn-sm my-btn-color">Tahrirlash</a>
                        {% endif %}
                    </td> 
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center p-5">Hozircha hech qanday ariza yo'q.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
